
* {
	font-family: "나눔스퀘어라운드";
}


/*****************메인페이지  mainpage.jsp************************/
/*전체설정*/
	*{
		font-family:"나눔스퀘어라운드";
		padding:0px;
		margin:0px;

	}
	div#main_page{
		margin:auto;
		text-align:center;
		height:2500px;
		
	}
	div#main_content{ /*공연/전시~퀵메뉴*/
		display:inline-block;
		margin:auto;
		width:1000px;
	}
/*공연, 전시 */	
	div#main_content div#main_announce {
		text-align:center;
		margin-top:50px;
		margin-bottom:70px;
	}
	
	div#main_content div#main_announce section:first-child{
		margin-bottom:50px;
		
	}
	
 	div#main_content div#main_announce section h1{
		text-align:left;
		padding-left:25%;
		margin-bottom:10px;
		
	}

	div#main_content div#main_announce section article img{  /*포스터 이미지 파일의 사이즈는 동일하게 맞출 것. 공연이든 전시이든 */
		height:350px;
	}

	
	
/*티켓알림(예정작), 이벤트   		Q.요소들이 흐트러지지않고 창이 줄어들면 그냥 보이지 않게 하는 법?*/	

	div#main_page div#main_content div:nth-child(2) section article:first-child button{
		display:inline-block;
		border:none;
		width:300px;
		height:40px;
		margin:0px 10px 0px 10px;
		background-color:rgb(5,135,94);
		color:white;
		font-size:18pt;
		font-weight:bold;
		text-align:center;
	}

	div#main_page div#main_content div:nth-child(2) section article:nth-child(2) {
		margin-top:30px;
		margin-bottom:50px;
		overflow:hidden;
	}

	div#main_page div#main_content div:nth-child(2) section article:nth-child(2) div{

		display:inline-block;
		margin:0px 10px 0px 10px;
	}
	div#main_page div#main_content div:nth-child(2) section article:nth-child(2) div img{
		width:300px;
		margin-bottom:10px;
	}

	
/*하단 5개 퀵메뉴*/	

	div#main_page div#main_content >div:last-child section {
		
		width:100%;
		padding: 10px 40px 10px 40px;
		display:inline-block;
		border-top:1px solid green;
		border-bottom:1px solid green;
		
	}
	div#main_page div#main_content div:last-child article{
		display:inline-block;
		text-align:center;
		margin:0px 20px 0px 20px;
		}
	div#main_page div#main_content div:last-child article img{
		display:block;
		height:50px;
	}
	div#main_page div#main_content div:last-child article span{
		color:rgb(5,135,94);
	}
	
	
/*****************로그인  login> login.jsp************************/
	*{
		font-family:"나눔스퀘어라운드";
		padding:0px;
		margin:0px;

	}



  	 h1.page_title{  /*'로그인'이 표시되는 바*/
      width:700px;
      border-bottom:3px solid rgb(5,135,94);
      border-left:15px solid rgb(5,135,94);
      display:inline-block;
      margin:100px 0px 50px 0px;
      font-size:30pt;
      font-weight:bold;
      font-family:"나눔스퀘어라운드";
      text-align:left;
   }
   
   
   /*로그인 페이지 컨텐츠*/
   div#login {
   width:1000px;
   height:500px;
   	margin:auto;
   	text-align:center;
   }
      /*로그인 페이지의 폼 내부 디자인*/
   div#login form input{
   		display:inline-block;
   		width:400px;
   		height:25px;
   		margin:15px 30px 0px 30px;
   		padding:5px;
   }
   
   div#login form button{
   		background-color:rgb(5,135,94);
   		color:white;
   		width:400px;
   		height:40px;
   		border:none;
   		margin-top:30px;
   }
   
   div#login> section{
   display:inline-block;
   	margin:15px 0px 10px 0px;
   	width:400px;
   	height:35px;
   	text-align:right;
   }
   /*로그인 버튼 하단 내용*/
   div#login> div section div{
   border:1px solid red;
 	display:inline-block;
 	width:160px;
 	heigth:100px;
	}  

	